@import "../_vars";
@import "../_gridlex-vars";


@media #{$gl-sm}{

  .block {
    [class*="col-"]{
      margin-top: (16em/$fs);

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .main-wrapper {
    width: (750rem/$fs);
  }

  #header {
    .logo {
      left:0;
    }
  }

  #primary-navigation .menu-item:first-child {
    margin-left: (70em/$fs);
  }
}