@import "../_vars";
@import "../_gridlex-vars";

@media #{$gl-md}{

  .block {
    .block-title {
      $tfs:46;
      font-size: #{$tfs/$fs}em;
      margin-bottom: (25em/$tfs);
    }
  }

  .our-projects {
    .our-projects-title {
      font-size: (60em/$fs);
    }
  }


  .main-wrapper {
    width: (970rem/$fs);
  }
}