#!/usr/bin/env ruby

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
#compile '/**/*.md' do
#  filter :kramdown
#  layout '/default.*'
#end

passthrough '/images/content/**/*'
passthrough '/images/customers/**/*'
passthrough '/sendform.php'
passthrough '/.env'

ignore '/js/**/*'
ignore '/js6/**/*'
ignore '/images/**/*'
ignore '/css/**/*'
ignore '/scss/**/*'
ignore '/fonts/**/*'

compile '/**/*.{haml}' do
  filter :haml, :ugly => true, :attr_wrapper => '"', :format => :html5
  layout '/layout.haml'
end

route '/**/*' do
  case item[:extension]
    when 'haml'
      item.identifier.to_s.sub('.haml', '.html')
    else
      item.identifier.to_s
  end
end

layout '/**/*', :haml, {:ugly => true, :attr_wrapper => '"'}
