- js = relative_path_to(get_hash('/js/gvial.js'))

:javascript
  var js = document.createElement('script'), s = document.getElementsByTagName('script')[0],
      className = document.getElementsByTagName("HTML")[0].className;
  js.type = 'text/javascript'; js.async = true;
  js.src = '#{js}';
  s.parentNode.insertBefore(js, s);


