- js = relative_path_to(get_hash('/js/gvial.js'))

:javascript
  var js = document.createElement('script');

  js.type = 'text/javascript';
  js.async = true;
  js.src = '#{js}';
  document.head.appendChild(js);