---
title: Capacidad Operativa
selected: 'capacidad-operativa'
description: "Especialistas en señalizacion y seguridad vial con equipos de ultima generacion"
keywords: "señalizacion vial,señales de transito,Tachas reflectivas, Estoperoles, reductores de velocidad,Termoplastico,vialine ac3, aqualine, aerocril,plastigum, plastivial, Marcaline, Raiseline, tecnoline, Trackline, trackbike, mantenimiento vial"
---

:ruby
  img = Array.new
  img << relative_path_to("/images/content/capacidad-operativa-750.jpg") + " 750w"
  img << relative_path_to("/images/content/capacidad-operativa-970.jpg") + " 970w"
  img << relative_path_to("/images/content/capacidad-operativa-1170.jpg") + " 1170w"
  img << relative_path_to("/images/content/capacidad-operativa-2000.jpg") + " 2000w"


  img2 = Array.new
  img2 << relative_path_to("/images/capacidad/capacidad-doble-1-2000.jpg") + " 601w"
  img2 << relative_path_to("/images/capacidad/capacidad-doble-1-970.jpg") + " 970w"
  img2 << relative_path_to("/images/capacidad/capacidad-doble-1-1170.jpg") + " 1170w"
  img2 << relative_path_to("/images/capacidad/capacidad-doble-1-2000.jpg") + " 2000w"

  img3 = Array.new
  img3 << relative_path_to("/images/capacidad/capacidad-doble-2-2000.jpg") + " 601w"
  img3 << relative_path_to("/images/capacidad/capacidad-doble-2-970.jpg") + " 970w"
  img3 << relative_path_to("/images/capacidad/capacidad-doble-2-1170.jpg") + " 1170w"
  img3 << relative_path_to("/images/capacidad/capacidad-doble-2-2000.jpg") + " 2000w"

  img4 = Array.new
  img4 << relative_path_to("/images/capacidad/capacidad-grande-1-600.jpg") + " 600w"
  img4 << relative_path_to("/images/capacidad/capacidad-grande-1-970.jpg") + " 970w"
  img4 << relative_path_to("/images/capacidad/capacidad-grande-1-1170.jpg") + " 1170w"
  img4 << relative_path_to("/images/capacidad/capacidad-grande-1-2000.jpg") + " 2000w"

  img5 = Array.new
  img5 << relative_path_to("/images/capacidad/capacidad-grande-2-600.jpg") + " 600w"
  img5 << relative_path_to("/images/capacidad/capacidad-grande-2-970.jpg") + " 970w"
  img5 << relative_path_to("/images/capacidad/capacidad-grande-2-1170.jpg") + " 1170w"
  img5 << relative_path_to("/images/capacidad/capacidad-grande-2-2000.jpg") + " 2000w"

  img6 = Array.new
  img6 << relative_path_to("/images/capacidad/capacidad-pequena-1-600.jpg") + " 600w"
  img6 << relative_path_to("/images/capacidad/capacidad-pequena-1-970.jpg") + " 970w"
  img6 << relative_path_to("/images/capacidad/capacidad-pequena-1-1170.jpg") + " 1170w"
  img6 << relative_path_to("/images/capacidad/capacidad-pequena-1-2000.jpg") + " 2000w"

  img7= Array.new
  img7 << relative_path_to("/images/capacidad/capacidad-pequena-2-600.jpg") + " 600w"
  img7 << relative_path_to("/images/capacidad/capacidad-pequena-2-970.jpg") + " 970w"
  img7 << relative_path_to("/images/capacidad/capacidad-pequena-2-1170.jpg") + " 1170w"
  img7 << relative_path_to("/images/capacidad/capacidad-pequena-2-2000.jpg") + " 2000w"

%article.block.block-no-top.capacity
  .capacity-deco
    %img.lzl.block-img-bg{:"data-original"=>img[0].partition(" ").first ,:"data-original-set"=>img.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
    .main-wrapper
      .capacity-bg-content
        .capacity-bg-title Equipos de alto rendimiento
  .main-wrapper.grid
    %h1.block-title.capacity-title.col-12
      %strong
        Capacidad
      Operativa
    %ul.grid.dot.col-12.capacity-list
      %li.col-6_xs-12.dot-item.capacity-list-item
        Equipos autopropulsados  y manuales de alto rendimiento de aplicación de pinturas acrílicas base agua y  base solvente.
      %li.col-6_xs-12.dot-item.capacity-list-item
        Equipo de borrado de demarcación por remoción de pintura
      %li.col-6_xs-12.dot-item.capacity-list-item
        Equipos autopropulsados  y manuales  de alto rendimiento de aplicación de pintura plástico en frío 98:2 y 1:1.
      %li.col-6_xs-12.dot-item.capacity-list-item
        Retroflectometros horizontal y vertical
      %li.col-6_xs-12.dot-item.capacity-list-item
        Equipos autopropulsados  y manuales  de alto rendimiento de aplicación de pintura termoplástico por extrusión.
      %li.col-6_xs-12.dot-item.capacity-list-item
        Equipo para instalación de señalización elevada
      %li.col-6_xs-12.dot-item.capacity-list-item
        Equipos para instalación de tachas por fusión de bituminoso o termoplástico
    .col-12.capacity-text
      %h3.block-subtitle Vialine
      %p
        Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  En G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad técni
    .grid.col-12.capacity-images
      .col-6
        .aspect-16-12
          %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
      .col-6
        .aspect-16-12
          %img.lzl{:"data-original"=>img3[0].partition(" ").first ,:"data-original-set"=>img3.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
      .col-8
        .aspect-764-427
          %img.lzl{:"data-original"=>img4[0].partition(" ").first ,:"data-original-set"=>img4.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
      .col-4
        .aspect-374-427
          %img.lzl{:"data-original"=>img6[0].partition(" ").first ,:"data-original-set"=>img6.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
      .col-4
        .aspect-374-427
          %img.lzl{:"data-original"=>img7[0].partition(" ").first ,:"data-original-set"=>img7.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
      .col-8
        .aspect-764-427
          %img.lzl{:"data-original"=>img5[0].partition(" ").first ,:"data-original-set"=>img5.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
