---
title: Experiencia
selected: 'experiencia'
description: "Especialistas en señalizacion y seguridad vial con equipos de ultima generacion"
keywords: "señalizacion vial,señales de transito,Tachas reflectivas, Estoperoles, reductores de velocidad,Termoplastico,vialine ac3, aqualine, aerocril,plastigum, plastivial, Marcaline, Raiseline, tecnoline, Trackline, trackbike, mantenimiento vial"
---

:ruby

  img4 = Array.new
  img4 << relative_path_to("/images/content/tachas-550.jpg") + " 550w"
  img4 << relative_path_to("/images/content/tachas-970.jpg") + " 970w"
  img4 << relative_path_to("/images/content/tachas-1170.jpg") + " 1170w"
  img4 << relative_path_to("/images/content/tachas-2000.jpg") + " 2000w"

