---
title: Atyca Operadora
selected: 'index'
---

:ruby
  img1 = Array.new
  img1 << relative_path_to("/images/content/senal-vertical-2000.jpg") + " 2000w"

  img2 = Array.new
  img2 << relative_path_to("/images/content/senal-horizontal-2000.jpg") + " 2000w"

  img3 = Array.new
  img3 << relative_path_to("/images/content/defensa-2000.jpg") + " 2000w"

  img4 = Array.new
  img4 << relative_path_to("/images/content/plastic-devices-2000.jpg") + " 2000w"

%section.block.products-services.main-wrapper
  %h1.block-title
    %strong
      Señalizacion
    horizontal
  .grid-noBottom
    .col-6_sm-12
      %figure.products-services
        .aspect-16-9
          %img.lzl.products-services-img{:srcset=>img3.join(",")}
        %figcaption
          %strong
            Pinturas
          convecionales
      .grid
        .col-8
          %h3.block-subtitle Vialine
          %p Pintura Acrílica modificada BASE SOLVENTE para ciudad, carreteras, vías interurbanas y municipales.  Presenta espesor seco máximo de 11 MILS. Pintura Acrílica modificada BASE SOLVENTE para ciudad, carreteras, vías interurbanas y municipales.  Presenta espesor seco máximo de 11 MILS.
          %h3.block-subtitle Aqualine
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco máximo de 14 MILS.
          %h2.block-bigsubtitle Microesfera de vidrio:
          %p Entendiendo la demarcación vial como UN SISTEMA que integra varios elementos para prestar el mejor desempeño tanto en el día como en la noche,  las aplicaciones deben integrar microesferas de vidrio que generan retroreflectividad  y permiten la visibilidad de la demarcacion sin presencia de luz natural.  G-Vial utiliza microesferas de alto rendimiento que han sido probadas y homologadas con los productos Marcas Viales y ofrecen referencias especializadas en cada uno de los tipos de pintura. ofrecen referencias especializadas en cada uno de los tipos de pintura.
        .col-4

    .col-6_sm-12
      %figure.products-services
        .aspect-16-9
          %img.lzl.products-services-img{:srcset=>img3.join(",")}
        %figcaption
          %strong Pinturas
          alto desempeño
      .grid
        .col-8
          %h2.block-bigsubtitle Termoplástico
          %h3.block-subtitle Extruline
          %p Pintura de larga duración, TERMOPLASTICO de aplicación en caliente por extrusión. Recomendado para vías con alta densidad de tráfico donde se requiera alta resistencia al desgaste.  Presenta espesor seco máximo de 90 MILS.

          %h2.block-bigsubtitle Plástico en frío (MetilMetacrilato)
          %h3.block-subtitle Marcaline
          %p Pintura de alta durabilidad Tricomponente, de aplicación automática por Spray.  Relación de dosificación 1:1.  Catalizada por peróxido orgánico.  Presenta espesor seco máximo de 40 MILS.

          %h3.block-subtitle Tecnoline
          %p Pintura de dos componentes,  de aplicación automática con relación de dosificación 98:2.  Con catalizador líquido.  Diseñada exclusivamente para líneas longitudinales con alta exposición a la abrasión y al desgaste. Presenta espesor seco máximo de 32 MILS.

          %h3.block-subtitle Plastivial
          %p Pintura de alta durabilidad de dos componentes de aplicación Manual para la elaboración de pasos peatonales, símbolos y flechas. Catalizada por peróxido orgánico.  Presenta espesor seco máximo de 60 MILS.
        .col-4

%section.block.products-services
  %h1.block-title.main-wrapper
    %strong
      Señalizacion
    vertical
  %img.lzl.block-img-bg{:srcset=>img1.join(",")}
  .grid-noBottom.main-wrapper
    .col-6_sm-12
      %p
        Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  En G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad técni
    .col-6_sm-12
      %p
        Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni

    .col-4_sm-12
      a
    .col-4_sm-12
      b
    .col-4_sm-12
      c

%section.block.products-services.main-wrapper
  %h1.block-title
    %strong
      Defensa
    metálica
  .grid-noBottom
    .col-4_sm-12
      %h3.block-subtitle Vialine
      %p
        Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  En G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad técni
    .col-8_sm-12

%section.block.products-services.main-wrapper
  %h1.block-title.main-wrapper
    %strong
      Dispositivos de canalización &
    reducción de velocidad
  .grid-noBottom
    .col-6_md-12
      %article.grid
        .col-6
          figure
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          figure
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          figure
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.

    .col-6_md-12
      %article.grid
        .col-6
          figure
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          figure
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          figure
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
