---
title: Productos y servicios
selected: 'productos-servicios'
description: "Especialistas en señalizacion y seguridad vial con equipos de ultima generacion"
keywords: "señalizacion vial,señales de transito,Tachas reflectivas, Estoperoles, reductores de velocidad,Termoplastico,vialine ac3, aqualine, aerocril,plastigum, plastivial, Marcaline, Raiseline, tecnoline, Trackline, trackbike, mantenimiento vial"
---

:ruby

  img4 = Array.new
  img4 << relative_path_to("/images/content/tachas-550.jpg") + " 550w"
  img4 << relative_path_to("/images/content/tachas-970.jpg") + " 970w"
  img4 << relative_path_to("/images/content/tachas-1170.jpg") + " 1170w"
  img4 << relative_path_to("/images/content/tachas-2000.jpg") + " 2000w"

= render '/products-services/horizontal.haml'
= render '/products-services/vertical.haml'
= render '/products-services/defend.haml'

%section.block.products-services.main-wrapper
  %h1.block-title.main-wrapper
    %strong
      Dispositivos de canalización &
    reducción de velocidad
  .grid-noBottom
    .col-6_sm-12
      %article.grid
        .col-6
          .aspect-1-1
            %img.lzl{:srcset=>img4.join(",")}
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          .aspect-1-1
            %img.lzl{:srcset=>img4.join(",")}
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          .aspect-1-1
            %img.lzl{:srcset=>img4.join(",")}
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.

    .col-6_sm-12
      %article.grid
        .col-6
          .aspect-1-1
            %img.lzl{:srcset=>img4.join(",")}
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          .aspect-1-1
            %img.lzl{:srcset=>img4.join(",")}
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
      %article.grid
        .col-6
          .aspect-1-1
            %img.lzl{:srcset=>img4.join(",")}
        .col-6
          %h1.block-subtitle Tachas
          %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco.
