---
title: Quienes somos
selected: 'quienes-somos'
description: "Especialistas en señalización y seguridad vial con equipos de ultima generación"
keywords: "señalización vial,señales de transito,Tachas reflectivas, Estoperoles, reductores de velocidad,Termoplastico,vialine ac3, aqualine, aerocril,plastigum, plastivial, Marcaline, Raiseline, tecnoline, Trackline, trackbike, mantenimiento vial"
---

:ruby
  img1 = Array.new
  img1 << relative_path_to("/images/content/nosotros-750.jpg") + " 750w"
  img1 << relative_path_to("/images/content/nosotros-970.jpg") + " 970w"
  img1 << relative_path_to("/images/content/nosotros-1170.jpg") + " 1170w"
  img1 << relative_path_to("/images/content/nosotros-2000.jpg") + " 2000w"

  img2 = Array.new
  img2 << relative_path_to("/images/content/senal-horizontal-2000.jpg") + " 2000w"

  img3 = Array.new
  img3 << relative_path_to("/images/content/defensa-2000.jpg") + " 2000w"

  img4 = Array.new
  img4 << relative_path_to("/images/customers/marcas-viales.png")

%article.block.main-wrapper
  %h1.block-title
    %strong
      Nuestra
    historia
  .grid-noBottom
    .col-12
      .aspect-1170-350
        %img.lzl{:"data-original"=>img1[0].partition(" ").first ,:"data-original-set"=>img1.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
    .grid.col-12
      .col-4_sm-12
        %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni
      .col-4_sm-12
        %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni
      .col-4_sm-12
        %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni

%article.block.main-wrapper
  %h1.block-title
    %strong Factores

  %ul.counter
    %li.counter-item
      .block-subtitle Capacidad
      %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni
    %li.counter-item
      .block-subtitle Capacidad
      %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni
    %li.counter-item
      .block-subtitle Capacidad
      %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni
    %li.counter-item
      .block-subtitle Capacidad
      %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni
    %li.counter-item
      .block-subtitle Capacidad
      %p Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni

%section.block.main-wrapper
  %h1.block-title
    %strong
      Nuestros
    aliados
  .grid-noBottom
    %article.col-4_xs-12
      %figure.allies-img
        .aspect-11-8
          - logo = relative_path_to("/images/customers/marcas-viales.png")
          %img.lzl.center{:"data-original"=>logo ,:"data-original-set"=>logo, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
        %figcaption.allies-caption
          %p Somos una empresa Colombiana, especializada en Señalización y Seguridad. contamos con un importante respaldo.
          %a.allies-link{:href=>"#"} www.google.com

    %article.col-4_xs-12
      %figure.allies-img
        .aspect-11-8
          - logo = relative_path_to("/images/customers/diez.png")
          %img.lzl.center{:"data-original"=>logo ,:"data-original-set"=>logo, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
        %figcaption.allies-caption
          %p Somos una empresa Colombiana, especializada en Señalización y Seguridad. contamos con un importante respaldo.
          %a.allies-link{:href=>"#"} www.google.com

    %article.col-4_xs-12
      %figure.allies-img
        .aspect-11-8
          - logo = relative_path_to("/images/customers/pv-ingenieria.png")
          %img.lzl.center{:"data-original"=>logo ,:"data-original-set"=>logo, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
        %figcaption.allies-caption
          %p Somos una empresa Colombiana, especializada en Señalización y Seguridad. contamos con un importante respaldo.
          %a.allies-link{:href=>"#"} www.google.com