@import "_vars";
@import "_normalize";
@import "_gridlex";
@import "_helpers";

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bold.woff') format('woff'),
  url('../fonts/roboto-bold.ttf') format('truetype'),
  url('../fonts/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/roboto-light.eot');
  src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light.woff') format('woff'),
  url('../fonts/roboto-light.ttf') format('truetype'),
  url('../fonts/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Light';
  color:#464646;
}

#main {
  overflow: hidden;
}

.main-wrapper {
  width: (1170rem/$fs);
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.block {
  margin-top: (40em/$fs);
  position: relative;

  .block-title {
    $tfs:54;
    font-size: #{$tfs/$fs}em;
    color:#464646;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: (25em/$tfs);

    strong {
      font-family: 'Roboto Bold';
      font-weight: bold;
    }
  }

  .block-img-bg {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 auto;
    height: 100%;
    transform: translateX(-50%);
  }
}

.block-no-top{
  margin-top: 0;
}

.menu-container {
  position: relative;
  background: none !important;
}

.our-costumers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  height: calc(100% + 50px);
}

@import "widgets/_header";
@import "widgets/_solidity";
@import "widgets/_products-services";
@import "widgets/_factors";
@import "widgets/_contact-form";
@import "widgets/_small-shit";

@import "widgets/_main-icon";

@import "mq/_mediaqueries";