:ruby
  img1 = Array.new
  img1 << relative_path_to("/images/products/pintura-convencional-2000.jpg") + " 750w"
  img1 << relative_path_to("/images/products/pintura-convencional-970.jpg") + " 970w"
  img1 << relative_path_to("/images/products/pintura-convencional-1170.jpg") + " 1170w"
  img1 << relative_path_to("/images/products/pintura-convencional-2000.jpg") + " 2000w"

  img2 = Array.new
  img2 << relative_path_to("/images/products/pintura-alto-desempeno-2000") + " 750w"
  img2 << relative_path_to("/images/products/pintura-alto-desempeno-970.jpg") + " 970w"
  img2 << relative_path_to("/images/products/pintura-alto-desempeno-1170.jpg") + " 1170w"
  img2 << relative_path_to("/images/products/pintura-alto-desempeno-2000.jpg") + " 2000w"

  img4 = Array.new
  img4 << relative_path_to("/images/products/pintura-convencional-vertical-1-2000.jpg") + " 970w"
  img4 << relative_path_to("/images/products/pintura-convencional-vertical-1-1170.jpg") + " 1170w"
  img4 << relative_path_to("/images/products/pintura-convencional-vertical-1-2000.jpg") + " 2000w"

  img5 = Array.new
  img5 << relative_path_to("/images/products/pintura-convencional-vertical-2-2000.jpg") + " 970w"
  img5 << relative_path_to("/images/products/pintura-convencional-vertical-2-1170.jpg") + " 1170w"
  img5 << relative_path_to("/images/products/pintura-convencional-vertical-2-2000.jpg") + " 2000w"

  img6 = Array.new
  img6 << relative_path_to("/images/products/pintura-alto-desempeno-vertical-1-2000.jpg") + " 970w"
  img6 << relative_path_to("/images/products/pintura-alto-desempeno-vertical-1-1170.jpg") + " 1170w"
  img6 << relative_path_to("/images/products/pintura-alto-desempeno-vertical-1-2000.jpg") + " 2000w"

  img7 = Array.new
  img7 << relative_path_to("/images/products/pintura-alto-desempeno-vertical-2-2000.jpg") + " 970w"
  img7 << relative_path_to("/images/products/pintura-alto-desempeno-vertical-2-1170.jpg") + " 1170w"
  img7 << relative_path_to("/images/products/pintura-alto-desempeno-vertical-2-2000.jpg") + " 2000w"

%article.block.products-services.main-wrapper.product-horizontal{:id=>"senalizacion-horizontal"}
  %h1.block-title
    %strong
      Señalización
    horizontal
  .grid-noBottom
    .col-6_sm-12
      %figure.products-services
        .aspect-16-9
          %img.lzl.products-services-img{:"data-original"=>img1[0].partition(" ").first ,:"data-original-set"=>img1.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
        %figcaption
          %strong
            Pinturas
          convecionales

      .grid.fix-margin-top
        .col-8_md-9
          .block-products
            %h3.block-subtitle.block-no-top Vialine
            %p Pintura Acrílica modificada BASE SOLVENTE para ciudad, carreteras, vías interurbanas y municipales.  Presenta espesor seco máximo de 11 MILS. Pintura Acrílica modificada BASE SOLVENTE para ciudad, carreteras, vías interurbanas y municipales.  Presenta espesor seco máximo de 11 MILS.
            %h3.block-subtitle Aqualine
            %p Pintura formulada con resinas acrílicas BASE AGUA, excelente blancura y secado rápido.  Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Para vías de alto flujo vehicular.  Presenta espesor seco máximo de 14 MILS. Presenta espesor seco máximo de 14 MILS.
            %h2.block-bigsubtitle
              %span.break-line Microesfera
              de vidrio:
            %p Entendiendo la demarcación vial como UN SISTEMA que integra varios elementos para prestar el mejor desempeño tanto en el día como en la noche,  las aplicaciones deben integrar microesferas de vidrio que generan retroreflectividad  y permiten la visibilidad de la demarcación sin presencia de luz natural.  G-Vial utiliza microesferas de alto rendimiento que han sido probadas y homologadas con los productos Marcas Viales y ofrecen referencias especializadas en cada uno de los tipos de pintura. ofrecen referencias especializadas en cada uno de los tipos de pintura.
        .col-4_md-3
          .aspect-1-2
            %img.lzl{:"data-original"=>img4[0].partition(" ").first ,:"data-original-set"=>img4.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
          .aspect-1-2
            %img.lzl.hide-me{:"data-original"=>img5[0].partition(" ").first ,:"data-original-set"=>img5.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}

    .col-6_sm-12
      %figure.products-services
        .aspect-16-9
          %img.lzl.products-services-img{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
        %figcaption
          %strong Pinturas
          alto desempeño

      .grid.fix-margin-top
        .col-8_md-9
          .block-products
            %h2.block-bigsubtitle.block-no-top Termoplástico
            %h3.block-subtitle Extruline
            %p Pintura de larga duración, TERMOPLASTICO de aplicación en caliente por extrusión. Recomendado para vías con alta densidad de tráfico donde se requiera alta resistencia al desgaste.  Presenta espesor seco máximo de 90 MILS.

            %h2.block-bigsubtitle
              Plástico en frío
              %small (MetilMetacrilato)
            %h3.block-subtitle.block-no-top Marcaline
            %p Pintura de alta durabilidad Tricomponente, de aplicación automática por Spray.  Relación de dosificación 1:1.  Catalizada por peróxido orgánico.  Presenta espesor seco máximo de 40 MILS.

            %h3.block-subtitle Tecnoline
            %p Pintura de dos componentes,  de aplicación automática con relación de dosificación 98:2.  Con catalizador líquido.  Diseñada exclusivamente para líneas longitudinales con alta exposición a la abrasión y al desgaste. Presenta espesor seco máximo de 32 MILS.

            %h3.block-subtitle Plastivial
            %p Pintura de alta durabilidad de dos componentes de aplicación Manual para la elaboración de pasos peatonales, símbolos y flechas. Catalizada por peróxido orgánico.  Presenta espesor seco máximo de 60 MILS.
        .col-4_md-3
          .aspect-1-2
            %img.lzl{:"data-original"=>img6[0].partition(" ").first ,:"data-original-set"=>img6.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
          .aspect-1-2
            %img.lzl.hide-me{:"data-original"=>img7[0].partition(" ").first ,:"data-original-set"=>img7.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
