:ruby
  img3 = Array.new
  img3 << relative_path_to("/images/content/senalizacion-vertical-750.jpg") + " 750w"
  img3 << relative_path_to("/images/content/senalizacion-vertical-970.jpg") + " 970w"
  img3 << relative_path_to("/images/content/senalizacion-vertical-1170.jpg") + " 1170w"
  img3 << relative_path_to("/images/content/senalizacion-vertical-2000.jpg") + " 2000w"

  img4 = Array.new
  img4 << relative_path_to("/images/products/senalizacion-vertical-1-500.jpg") + " 500w"
  img4 << relative_path_to("/images/products/senalizacion-vertical-1-970.jpg") + " 970w"
  img4 << relative_path_to("/images/products/senalizacion-vertical-1-2000.jpg") + " 2000w"

  img5 = Array.new
  img5 << relative_path_to("/images/products/senalizacion-vertical-2-500.jpg") + " 500w"
  img5 << relative_path_to("/images/products/senalizacion-vertical-2-970.jpg") + " 970w"
  img5 << relative_path_to("/images/products/senalizacion-vertical-2-2000.jpg") + " 2000w"

  img6 = Array.new
  img6 << relative_path_to("/images/products/senalizacion-vertical-3-500.jpg") + " 500w"
  img6 << relative_path_to("/images/products/senalizacion-vertical-3-970.jpg") + " 970w"
  img6 << relative_path_to("/images/products/senalizacion-vertical-3-2000.jpg") + " 2000w"


%article.block.products-services
  %h1.block-title.main-wrapper{:id=>"senalizacion-vertical"}
    %strong
      Señalizacion
    vertical
  .products-services-bg
    %img.lzl.block-img-bg{:"data-original"=>img3[0].partition(" ").first ,:"data-original-set"=>img3.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .grid-noBottom.main-wrapper
    .col-6_sm-12
      .block-content.block-marging-top
        %h3.block-subtitle Vialine
        %p
          Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  En G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad técni
    .col-6_sm-12
      .block-content.block-marging-top
        %h3.block-subtitle Vialine
        %p
          Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad téni

  .grid-noBottom.products-services-images.main-wrapper
    .col-4
      .aspect-1-1
        %img.lzl{:"data-original"=>img4[0].partition(" ").first ,:"data-original-set"=>img4.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
    .col-4
      .aspect-1-1
        %img.lzl{:"data-original"=>img5[0].partition(" ").first ,:"data-original-set"=>img5.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
    .col-4
      .aspect-1-1
        %img.lzl{:"data-original"=>img6[0].partition(" ").first ,:"data-original-set"=>img6.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}