@import "../vars";

.factors {

  .factors-list-item {
    line-height: (50em/$fs);
    background: #005796;
    margin-top: (15em/$fs);

    &:first-of-type {
      margin-top: 0;
    }
  }

  .factors-list-link {
    $tfs:38;
    font-size: #{$tfs/$fs}em;
    color:white;
    display: block;
    padding-left: (15em/$tfs);
    text-transform: uppercase;
    font-family: "Roboto Bold" ;
    text-decoration: none;
  }
}