@import "../vars";
@import "../gridlex-vars";

@media #{$gl-xs}{
  .main-wrapper {
    width: 100%;
  }

  .block {
    padding: {
      left: (16em/$fs);
      right: (16em/$fs);
    }
    width: auto;

    [class*="col-"]{
      margin-top: (16em/$fs);

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .solidity {
    .solidity-content {
      top: 50%;
      left: 50%;
      bottom:auto;
      transform:  translateX(-50%);
    }
  }

  .factors .factors-list-link {
    font-size: (30em/$fs);
  }
}


