@import "../vars";
@import "../gridlex-vars";


@media #{$gl-sm}{

  #header {
    display: none;
    visibility: hidden;
  }

  .block {
    [class*="col-"]{
      margin-top: (16em/$fs);

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .main-wrapper {
    width: (750em/$fs);
  }
}