@import "../_vars";

.products-services {
  figcaption {
    min-height: 82px;
    background: $blueBG;;
    color:white;
    text-transform: uppercase;

    strong {
      display: block;
    }
  }

  .p-s-horizontal {
    figcaption {
      strong {
        display: inline;
      }
    }
  }

  .products-services-bg {
    height: (536em/$fs);
    position: relative;
  }

  .products-services-images {
    margin-top: (40em/$fs);
  }

  .fix-margin-top {
    margin-top: (32em/$fs);
  }
}

.our-projects {
  height: (466em/$fs);
  
  .our-projects-title {
    color:white;

    strong {
      display: block;
    }
  }
}