@import "../_vars";

.products-services {
  figcaption {
    $tfs:32;
    min-height: (82em/$tfs);
    background: $blueBG;;
    color:white;
    text-transform: uppercase;
    font-size: #{$tfs/$fs}em;
    line-height: 1em;
    padding: (16em/$tfs);
    box-sizing: border-box;

    strong {
      display: block;
      font-family: "Roboto Bold";
    }
  }

  .p-s-horizontal {
    figcaption {
      strong {
        display: inline;
      }
    }
  }

  .products-services-bg {
    height: (470em/$fs);
    position: relative;
  }

  .products-services-images {
    margin-top: (40em/$fs);
  }

  .fix-margin-top {
    margin-top: (32em/$fs);
  }

  .hide-me {
    margin-top: (16em/$fs);
  }
}

.our-projects {
  height: (470em/$fs);
  
  .our-projects-title {
    color:white;

    strong {
      display: block;
    }
  }
}