@import "../_vars";

.our-company {
  background: #D9E3EA;
  padding: (16em/$fs) 0 (32em/$fs) 0;
}

.our-projects {
  .our-projects-title {
    $tfs:78;
    font-size: #{$tfs/$fs}em;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-shadow: (1em/$tfs) (1em/$tfs) (2em/$tfs) rgba(0,0,0,.5), (-1em/$tfs) (-1em/$tfs) (2em/$tfs) rgba(0,0,0,.5);
  }
}

.allies-img {
  $tfs:15;

  margin-bottom: (24em/$fs);

  .allies-caption {
    text-align: center;
    font-size: #{$tfs/$fs}em;
    background: #252525;
    color:white;
    padding: (15em/$tfs) (20em/$tfs) (7em/$tfs);
  }

  .allies-link {
    $lfs:17;
    font-size: #{$lfs/$tfs}em;
    color:white;
    display: inline-block;
    margin-top: (10em/$lfs);
    text-decoration: none;
    font-family: "Roboto Bold";
  }
}

.counter {
  counter-reset: counter;


  .counter-item {
    position: relative;
    padding-left: (58em/$fs);
    margin-top: (30em/$fs);

    &:first-of-type {
      margin-top: 0;
    }

    &:before {
      $tfs:32;
      font-family: "Roboto Bold";
      font-size: #{$tfs/$fs}em;
      content: counter(counter);
      counter-increment: counter;
      height: (40em/$tfs);
      line-height: (40em/$tfs);
      width: (40em/$tfs);
      background: $blueBG;;
      text-align: center;
      color:white;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
}

.dot {
  .dot-item {
    position: relative;
    padding-left: (58rem/$fs);
    min-height:(40rem/$fs) ;
    padding-bottom: 0;

    &:before {
      content: "";
      height: (40rem/$fs);
      width: (40rem/$fs);
      background: $blueBG;;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
}

#map {
  height: (466em/$fs);
}