@import "../_vars";

.xp-article {

  /*
  .xp-text {
    .xp-article-header {
      background: #d8d8d8;
      height: 100%;
      padding: (32em/$fs) (16em/$fs) 0;
      box-sizing: border-box;
    }

    .block-dropline {
      margin-bottom: (16em/$fs);
    }
  }


  .col-4 {
    padding-bottom: 0 !important;
  }
  */

  .xp-article-header  {
    padding: (16em/$fs);
  }

  &:nth-child(odd) {
    .xp-article-header  {
      background: #d8d8d8;
    }
  }

  &:nth-child(even) {
    .xp-article-header  {
      background: $blueBG;
      color:white;
    }

    .block-subtitle,
    .block-dropline{
      color:white;
    }
  }

}