:ruby
  img2 = Array.new
  img2 << relative_path_to("/images/experiencia/our-proyects-1-2000.jpg") + " 601w"
  img2 << relative_path_to("/images/experiencia/our-proyects-1-970.jpg") + " 970w"
  img2 << relative_path_to("/images/experiencia/our-proyects-1-1170.jpg") + " 1170w"
  img2 << relative_path_to("/images/experiencia/our-proyects-1-2000.jpg") + " 2000w"

%article.xp-article.xp-images.grid
  .col-4
    .aspect-1-1
      %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .col-4
    .aspect-1-1
      %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .col-4
    .aspect-1-1
      %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .col-12
    .xp-article-header
      %h1.block-subtitle LA UNIÓN TEMPORAL DESARROLLO VIAL DEL NORTE DE BOGOTÁ – DEVINORTE
      %h2.block-dropline Contrato 015-2015
      %p Demarcación total El Buda – La Caro – Briceño, La Caro – Cajicá, variante de Cajicá, variante de Portachuelo y parte de la variante Teletón.