:ruby
  img2 = Array.new
  img2 << relative_path_to("/images/content/our-proyects-1-2000.jpg") + " 601w"
  img2 << relative_path_to("/images/content/our-proyects-1-970.jpg") + " 970w"
  img2 << relative_path_to("/images/content/our-proyects-1-1170.jpg") + " 1170w"
  img2 << relative_path_to("/images/content/our-proyects-1-2000.jpg") + " 2000w"

%article.xp-article.xp-text.grid-reverse
  .col-4
    .xp-article-header
      %h1.block-subtitle Movilidad 1881-2013
      %p
        Somos una empresa Colombiana,  especializada en Señalización y Seguridad Vial; contamos con un importante respaldo internacional y amplia trayectoria en el diseño, planeación,  ejecución y control de destacados proyectos tanto a nivel urbano como  rural a lo largo de todo el territorio nacional.  En G-Vial,  entendemos claramente la enorme responsabilidad que representa la Señalización como factor determinante e imprescindible en la Seguridad  vial y  la protección de los actores de una vía;  es por ello que invertimos de forma constante el profesionalismo, la rigurosidad técni
  .col-8
    .aspect-775-527
      %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
