:ruby
  img2 = Array.new
  img2 << relative_path_to("/images/experiencia/our-proyects-1-2000.jpg") + " 601w"
  img2 << relative_path_to("/images/experiencia/our-proyects-1-970.jpg") + " 970w"
  img2 << relative_path_to("/images/experiencia/our-proyects-1-1170.jpg") + " 1170w"
  img2 << relative_path_to("/images/experiencia/our-proyects-1-2000.jpg") + " 2000w"

%article.xp-article.xp-text.grid
  .col-4
    .xp-article-header
      %h1.block-subtitle FONDO NACIONAL DE TURISMO - FONTUR
      %p Contrato  m-127-2011
      %p El contratista se obliga para con el administrador a realizar obras de señalización turística en rutas secundarias y terciarias de Colombia, en los departamentos de Guajira, Cesar, Magdalena Atlántico, Bolívar, Córdoba, Sucre, Uraba Antioqueño, Uraba Chocoano, incluidas en los proyectos de señalización vial turística, de conformidad con el proyecto denominado "apoyo a la estructuración , diseño y construcción de obras de infraestructura turística de Colombia, y señalización turística vial etapa III- rutas secundarias y terciarias, presentado por el ministerio de comercio, industria y turismo, los lineamientos, término de referencia, especificaciones técnicas y la propuesta presentada por el contratista.
  .col-8
    .aspect-775-527
      %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
