:ruby
  img2 = Array.new
  img2 << relative_path_to("/images/experiencia/movilidad-2012-1-560.jpg") + " 560w"
  img2 << relative_path_to("/images/experiencia/movilidad-2012-1-970.jpg") + " 970w"
  img2 << relative_path_to("/images/experiencia/movilidad-2012-1-1170.jpg") + " 1170w"
  img2 << relative_path_to("/images/experiencia/movilidad-2012-1-2000.jpg") + " 2000w"

  img3 = Array.new
  img3 << relative_path_to("/images/experiencia/movilidad-2012-2-560.jpg") + " 560w"
  img3 << relative_path_to("/images/experiencia/movilidad-2012-2-970.jpg") + " 970w"
  img3 << relative_path_to("/images/experiencia/movilidad-2012-2-1170.jpg") + " 1170w"
  img3 << relative_path_to("/images/experiencia/movilidad-2012-2-2000.jpg") + " 2000w"

  img4 = Array.new
  img4 << relative_path_to("/images/experiencia/movilidad-2012-3-560.jpg") + " 560w"
  img4 << relative_path_to("/images/experiencia/movilidad-2012-3-970.jpg") + " 970w"
  img4 << relative_path_to("/images/experiencia/movilidad-2012-3-1170.jpg") + " 1170w"
  img4 << relative_path_to("/images/experiencia/movilidad-2012-3-2000.jpg") + " 2000w"

%article.xp-article.xp-images.grid
  .col-4
    .aspect-1-1
      %img.lzl{:"data-original"=>img2[0].partition(" ").first ,:"data-original-set"=>img2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .col-4
    .aspect-1-1
      %img.lzl{:"data-original"=>img3[0].partition(" ").first ,:"data-original-set"=>img3.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .col-4
    .aspect-1-1
      %img.lzl{:"data-original"=>img4[0].partition(" ").first ,:"data-original-set"=>img4.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .col-12
    .xp-article-header
      %h1.block-subtitle SECRETARÍA DISTRITAL DE MOVILIDAD
      %p Contrato SDM 1881 de 2012
      %p Realizar de forma integral el desarrollo de todas las actividades inherentes al proceso de señalización en Bogotá en la zona centro de la ciudad