:ruby
  ul = Array.new

  ul << {:title => "Capacidad", :href=> '#'}
  ul << {:title => "Solidex", :href=> '#'}
  ul << {:title => "Garantía", :href=> '#'}
  ul << {:title => "Disponibilidad", :href=> '#'}
  ul << {:title => "Innovación", :href=> '#'}

  img = Array.new
  img << relative_path_to("/images/content/factores.jpg") + " 2000w"

%section.block.factors.main-wrapper
  %h1.block-title
    %strong Factores
  .grid-noBottom
    .col-4_sm-12_md-5
      %ul.factors-list
        - ul.each do |li|
          %li.factors-list-item
            %a.factors-list-link{:href=>li[:href], :title=>li[:title]}= li[:title]
    .col-8_sm-12_md-7.factors-fix-sm
      %img.lzl.factors-img{:"data-original"=>img[0].partition(" ").first ,:"data-original-set"=>img.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
