:ruby
  img = Array.new
  img << relative_path_to("/images/content/nuestros-proyectos-750.jpg") + " 750w"
  img << relative_path_to("/images/content/nuestros-proyectos-970.jpg") + " 970w"
  img << relative_path_to("/images/content/nuestros-proyectos-1170.jpg") + " 1170w"
  img << relative_path_to("/images/content/nuestros-proyectos-2000.jpg") + " 2000w"

%section.our-projects.block

  %img.lzl.block-img-bg{:"data-original"=>img[0] ,:"data-original-set"=>img.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
  .main-wrapper
    %h1.block-title.our-projects-title
      %a.full-link
        %strong
          Nuestros
        proyectos