:ruby
  customers = Array.new

  customers << {:title => "Capacidad", :w=> '#', :h=> '#'}

%section.block.our-costumers.main-wrapper
  %h1.block-title
    %strong
      Nuestros
    clientes
  %ul.our-costumers-list
    - (1..22).each do |i|
      - w = rand(108..243)
      - h = rand(94..187)
      %li.our-costumers-item
        %img{:src=>"http://lorempixel.com/#{w}/#{h}/", :width=>w, :height=>h, :title=>"title", :alt=>"alt"}
