%section.block.products-services.main-wrapper
  %h1.visuallyhidden Productos y servicios
  .grid-noBottom
    .col-4
      .products-services.block
        %img

    .col-8
      .grid
        .col-12
          .products-services.block
            %img
        .col-6-noBottom
          .products-services.block
            %img
        .col-6-noBottom
          .products-services.block
            %img