:ruby
  vertical = Array.new
  vertical << relative_path_to("/images/home-products/senalizacion-vertical-950.jpg") + " 950w"
  vertical << relative_path_to("/images/home-products/senalizacion-vertical-1170.jpg") + " 1170w"
  vertical << relative_path_to("/images/home-products/senalizacion-vertical-2000.jpg") + " 2000w"

  horizontal = Array.new
  horizontal << relative_path_to("/images/home-products/senalizacion-horizontal-1170.jpg") + " 670w"
  horizontal << relative_path_to("/images/home-products/senalizacion-horizontal-950.jpg") + " 950w"
  horizontal << relative_path_to("/images/home-products/senalizacion-horizontal-1170.jpg") + " 1170w"
  horizontal << relative_path_to("/images/home-products/senalizacion-horizontal-2000.jpg") + " 2000w"

  box1 = Array.new
  box1 << relative_path_to("/images/home-products/defensa-1170.jpg") + " 675w"
  box1 << relative_path_to("/images/home-products/defensa-2000.jpg") + " 950w"
  box1 << relative_path_to("/images/home-products/defensa-1170.jpg") + " 1170w"
  box1 << relative_path_to("/images/home-products/defensa-2000.jpg") + " 2000w"

  box2 = Array.new
  box2 << relative_path_to("/images/home-products/dispositivo-1170.jpg") + " 675w"
  box2 << relative_path_to("/images/home-products/dispositivo-2000.jpg") + " 950w"
  box2 << relative_path_to("/images/home-products/dispositivo-1170.jpg") + " 1170w"
  box2 << relative_path_to("/images/home-products/dispositivo-2000.jpg") + " 2000w"

%section.block.products-services.main-wrapper.aspectratio-hell
  %h1.visuallyhidden Productos y servicios
  .grid-noBottom
    .col-4_sm-12
      %figure.products-services.has-full-link
        .aspect-379x543
          %img.lzl.products-services-img{:"data-original"=>vertical[0].partition(" ").first ,:"data-original-set"=>vertical.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
        %figcaption.product-title-vertical
          %a.full-link{:href=>relative_path_to("/productos-servicios.html") + "#senalizacion-vertical"}
            %strong
              Señalizacion
            vertical
    .col-8_sm-12
      .grid
        .col-12.p-s-horizontal
          %figure.products-services.has-full-link
            .aspect-775x230
              %img.lzl.products-services-img{:"data-original"=>horizontal[0].partition(" ").first ,:"data-original-set"=>horizontal.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
            %figcaption.product-title-horizontal
              %a.full-link{:href=>relative_path_to("/productos-servicios.html") + "#senalizacion-horizontal"}
                %strong Señalizacion
                horizontal
        .col-6-noBottom
          %figure.products-services.has-full-link
            .aspect-379x215
              %img.lzl.products-services-img{:"data-original"=>box1[0].partition(" ").first ,:"data-original-set"=>box1.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
            %figcaption
              %a.full-link{:href=>relative_path_to("/productos-servicios.html") + "#defensa-metalica"}
                %strong Defensa
                metalica
        .col-6-noBottom
          %figure.products-services.has-full-link
            .aspect-379x215
              %img.lzl.products-services-img{:"data-original"=>box2[0].partition(" ").first ,:"data-original-set"=>box2.join(","), :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw=="}
            %figcaption
              %a.full-link{:href=>relative_path_to("/productos-servicios.html") + "#dispositivos-plasticos"}
                %strong Dispositivos
                plasticos