%section.block.solidity
  .main-wrapper
    .solidity-content
      %h1.solidity-title Solidez
      %p Garantiza la sostenibilidad económica y respalda la viabilidad de apalancamiento de diferentes.
