
.main-wrapper
  .grid
    .col-4-noBottom
      .block
        algo
    .col-8-noBottom
      .grid
        .col-12
          .block
            algo
        .col-6-noBottom
          .block
            algo
        .col-6-noBottom
          .block
            algo
