@import "vars";
@import "normalize";
@import "gridlex";
@import "helpers";

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bold.woff') format('woff'),
  url('../fonts/roboto-bold.ttf') format('truetype'),
  url('../fonts/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/roboto-light.eot');
  src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light.woff') format('woff'),
  url('../fonts/roboto-light.ttf') format('truetype'),
  url('../fonts/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'Roboto Light';
  color:#464646;
}

#primary-navigation {
  height: (52em/$fs);
  padding: (4em/$fs) 0;
  background: #f1f1f1;
}

#main {
  overflow: hidden;
}

.block {
  .block-title {
    $tfs:50;
    font-size: #{$tfs/$fs}em;
    font-family: 'Roboto Bold';
    color:#464646;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: (25em/$tfs);

  }
}

.menu-container {
  position: relative;
  background: none !important;
}

.main-wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

@import "widgets/solidity";
@import "widgets/factors";

